<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p id="data1"></p>
    <p id="data2"></p>
    <p id="data3"></p>
    <p id="data4"></p>
    <p id="data5"></p>
    <p id="data6"></p>
    <p id="data7"></p>
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
              function getFeed() {
                $.ajax({
                  url: "/dashboard-test",
                  dataType: "json",
                  success: function (data) {
                    var dataTemp = [];
                    dataset = JSON.parse(data)

    dataset.forEach((e, idx) => { dataset[idx] = e.fields } )

dataset.sort((a, b) => (a.node_id > b.node_id) ? 1 : -1)
        for (let i = 0; i < dataset.length; i++) {

          document.getElementById("data" + (i+1)).innerHTML = dataset[i].node_id + " - "+ " T:" + dataset[i].temp + " H:" + dataset[i].hum +  " L:" + dataset[i].light + " S:" + dataset[i].snd
        }

                  },
                  complete: function (data) {
                    setTimeout(getFeed, 1000*30);
                  },
                });
              }
              {% comment %} $(document).ready(function () {
                setTimeout(getFeed, 1000);
              }); {% endcomment %}
            getFeed()
  </script>
</html>
